@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/*Navbar-section for small screens*/

/*Showcase-section for small screens*/

:root {
  --color-primary: black;
  --color-primary: black;
  --color-secondary: #960018;
  --color-variant: crimson;
  --color-alternate: goldenrod;
  --color-alternate-2: rgba(218, 165, 32, 0.941);
  --color-text: white;
  --color-dark-bg: #34495e;
  --color-text-alt: black;
}
body {
  background-color: var(--color-primary);
}

.dummy {
  padding-top: 50px;
  border: 2px solid green;
  height: 200vh;
}
.footer {
}
.scroll-up {
  position: fixed;

  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 20px;
}
.scroll-up i {
  color: black !important;
  z-index: 10;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color-text); /* Set a background color */
  color: var(--color-primary); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 28px; /* Increase font size */
  transition: 1200ms ease-in-out;
  z-index: 20;
  border: 1px solid gre;
}

.fade-test {
  opacity: 0;

  transition: opacity 600ms ease-in;
}
.fade-test.appear {
  opacity: 1;
}

#myBtn:hover {
  background-color: var(
    --color-alternate
  ); /* Add a dark-grey background on hover */
}

.promo-cards {
  background-color: var(--color-primary);
  border: 2px solid green;
  padding: 40px 0;
  color: var(--color-text);
}
.promo-cards-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.promo-card {
  height: 500px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  max-width: 350px;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
  letter-spacing: 1px;
  padding: 0 15px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
