@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{

    box-sizing: border-box;
    margin:0;
    padding:0;
    
    
    }



body{

font-family: 'Lato', sans-serif;
color:white;
overflow-x: none;
margin:0;
max-width: 100vw;
height:100vh;
display: flex;
flex-direction:column;
background:black;
}


/* section 1 navbar  */

.navbar{

max-width: 600px;

margin:0 auto;
padding:5px;

display: flex;
flex-direction: row;
justify-content: space-between;
color:white;
}
.navbar-lg{
display:none;
}

.main-logo{

    display: none;
}
.title{
display: flex;
justify-content: center;
align-items: center;
}
.login-modal{
   
    background: black;
    padding: 20px 1px ;
  position: absolute;
    width: 100%;
    left:0;
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:35px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
   top:-100vh;
    transition: 0.85s;
    opacity: 0.85;
    z-index: 2;
          }

 .services-sm{
     width: 100;
   margin: 0 auto;

 }

    .services-sm ul{
       
       height: 60vh;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       list-style: none;
       gap:60px;
       font-size: 28px;
       font-weight: 700;
       letter-spacing:3px;
       
       
    }

    .services-sm a:hover{
         text-decoration: underline;
    }
/* section 2 slider  */

.slides{


    z-index: -2;
}


.clickables{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.showcase{

cursor: pointer;
width: 100%;
display: grid;
grid-template-columns: 1fr;
gap:40px;
margin:10px auto;

}




.slider:hover{


   opacity: 0.8;
   transform: scale(0.98);
    
    
}


.slider{
position: relative;
margin:10px  auto;    
display: grid;
grid-template-columns: 1fr ;
height: 400px;
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
transition: 1s ease-in-out;


}


.slideshow{
    height: 100%;
    width: 100%;
position: absolute;
z-index: -1;
   
   


}
.slide{
    position: absolute;
  left:0;
    top:0;  
  height: 100%;
    width: 100%;
 
    background:steelblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  transition: 1.2s ease-in-out;
    
}
.slide h3{
    letter-spacing: 3px;
 padding-bottom: 150px;
 font-size: 1.5rem;

 }

 .slide:hover{

    transform: scale(1.04);
 }
/* slide-management */
#slide-1{
    left:0%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pic1.jpg')no-repeat center center/cover;
}


#slide-2{
left:100%;
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pic2.jpg')no-repeat center center/cover;
}
#slide-3{
left:200%;
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pic3.jpg')no-repeat center center/cover;
    }
#slide-4{
left:300%;
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pic4.jpg')no-repeat center center/cover;
  }
                




.info-bar  {

    display: none;
}



.arrows{

display: flex;
flex-direction: row;
justify-content: space-between;


margin: 50% 0;

}
.arrow-left, .arrow-right{
    margin-top: 50px;
   background:rgba(128, 128, 128, 0.438) ;
   border:2px solid transparent;
   border-radius: 50%;    
   padding:5px
    }
.circles{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom:15%;
    cursor: pointer;
    
}

.circle a{


    cursor: pointer;
}

.chosen {

    color:steelblue
}


/* section 3 menu */

/* section 4 About Us  */

/* section 5 Contact  */


/* section 6 Footer  */














/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.navbar{
width: 100%;
margin:0;
}








}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {

.menu {
    display: none;
}
.navbar-lg, .main-logo{
    display: block;
   
}
.navbar-lg ul{

  
  
    gap:20px
}
.login-modal{

    display: none;
}
.logo{
    display: none;
}

.showcase{

    max-width: 900px;
    grid-template-columns: 6fr 1fr;

}

.info-bar{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 25px;
    border: 1px solid steelblue;
    border-radius: 15px;
}
.info-bar h3,p, img{

    align-items: center;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 1.8;

}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}