@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700;900&display=swap");

.Menu-section {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: var(--color-primary);
  font-family: "Fira Sans", sans-serif;
  padding-top: 50px;

  max-width: 1300px;
}
.menu-title {
  padding: 10px;
  font-size: 2rem;
  letter-spacing: 3px;
  background-color: var(--color-alternate);
  color: var(--color-text);
  border-radius: 5px;
  margin: 20px auto;
  font-weight: 700;
}
.choices {
  font-size: 1.5rem;
  margin-top: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.menu-title {
  /* z-index: 2; */
}

.option {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.9;
  transform: 600ms ease-in-out;
}
.option:hover {
  opacity: 1;
}
.opt1 {
  background: url("../pic1.jpg") no-repeat center center/cover;
}
.opt2 {
  background: url("https://cdn.pixabay.com/photo/2021/03/02/17/34/skewer-6063312_960_720.jpg");
  /* background: url("../diner-pic1x.jpg") no-repeat center center/cover; */
}
.opt3 {
  background: url("https://cdn.pixabay.com/photo/2021/03/20/14/31/shawarma-6109976_960_720.jpg")
    no-repeat center center/cover;
}

.opt4 {
  background: url("../pic4.jpg") no-repeat center center/cover;
}
#menu-pointer,
#menu-pointer2,
#menu-pointer3,
#menu-pointer4 {
  transition: 400ms ease-in-out;
}
/*Menu-functionality*/
.menu-header {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transition: 1s ease-in-out;
  background: var(--color-secondary);
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
}

.menu-header a {
  color: var(--color-text);
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

.menu-header a:hover {
}
.menutable {
  position: absolute;
  bottom: -100%;
  width: 70%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-column-gap: 0px;
  grid-row-gap: 10px;
  font-size: 16px;
  background: var(--color-alternate-2);
  color: var(--color-text);
  padding: 10px;

  transition: 1s ease-in-out;
  letter-spacing: 1px;
  border-radius: 4px;
}
.menutable > div:nth-child(odd) {
  text-align: left;
  padding: 0;
}
.menutable > div:nth-child(even) {
  width: 100%;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .menutable {
    grid-column-gap: 30px;
    grid-row-gap: 5px;
  }
}

@media only screen and (min-width: 769px) {
  .menu {
    display: none;
  }

  .Menu-section {
    /* max-width: 1800px; */
    padding: 0 50px;
  }
  .menutable {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .choices {
    grid-template-columns: 1fr 1fr;
  }
}
