@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700;900&display=swap");

body {
  background-color: grey;
  font-family: "Fira Sans", sans-serif;
}

.menu-item-container {
}
.menu-item-container > div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-item {
  max-width: 400px;
  height: 400px;
  position: relative;
}
#first {
  background-image: url(../pic1.jpg);
}

.menu-item-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  border: 1px solid goldenrod;
}
