@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.nav-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 1;
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid goldenrod;
  transition: 700ms ease-in-out;
  z-index: 4;
}
.navbar-container {
}
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 50px;
  padding: 0 5px;
  color: white;
}
.nav-option-drop a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.navbar-modal-container {
  height: 100vh;
  width: 100%;
  max-width: 350px;
  padding-top: 60px;
  background-color: black;
  top: 0;
  position: fixed;
  border-top: 1px solid gold;
  border-right: 1px solid gold;
  color: white;
  z-index: 3;
}
.nav-menu-list {
  height: 100%;
}
.menu-list {
  height: fit-content;
}
.menu-link {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-transform: uppercase;
}
.nav-option-drop {
  display: none;

  height: fit-content;
  width: 100%;
  background-color: #34495e;
  border-bottom: 0.5px solid aliceblue;
  flex-direction: column;
  gap: 0px;
  transition: 800ms ease-in-out;
}
.nav-option-drop > div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  cursor: pointer;
}

.nav-option-drop > div:hover {
  background-color: goldenrod;
}
.menu-link:hover {
  background-color: goldenrod;
  color: whitesmoke;
  cursor: pointer;
}
.nav-menu-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#navbar-menu {
  transition: 200ms;
}
#back-arrow {
  display: none;
  transition: 800ms ease-in-out;
}

#menu-side-bar {
  transform: translateX(-100%);
  transition: 800ms ease-in-out;
}
#arrow-menu1,
#arrow-menu2,
#arrow-menu3,
#arrow-menu4 {
  color: white;
  font-size: 14px;
}
.nav-large {
  display: none;
}
#ml-0:hover {
  background-color: #34495e !important;
}
@media only screen and (min-width: 800px) {
  .nav-bar {
    border-bottom: 1px solid #34495e;
  }
  .nav {
    display: none;
  }
  .navbar-menu-modal {
    display: none;
  }
  .nav-large {
    padding: 7px;
    /* border: 3px solid green; */
    width: 100%;

    max-width: 1000px;
    margin: 0 auto;
    display: block;
    color: white;
    z-index: 4;
  }
  .large-navbar-menu {
    display: flex;
    justify-content: space-around;
  }
  .large-navbar-mini-menu {
    width: 50%;
    /* border: 3px solid orange; */
    display: flex;
    justify-content: space-around;
  }
  .large-navbar-mini-menu > div {
    position: relative;
  }
  .menu-large-dropdown {
    position: absolute;
    top: 35px;
    height: 250px;
    width: 300px;
    background-color: #34495e;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 0.5px solid aliceblue;
  }
  .menu-large-dropdown > div:hover {
    background-color: rgba(218, 165, 32, 0.315);
    cursor: pointer;
  }
  .menu-large-option {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid rgba(128, 128, 128, 0.322);
    border-bottom: 0.5px solid aliceblue;
    /* border: 1px solid rgba(128, 128, 128, 0.107); */
  }
  .menu-large-option a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ml-option-1 {
    display: none;
  }
  #ml-option-2 {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #ml-option-3 {
    display: none;
    width: 300px;
    height: 100px;
    grid-template-columns: 1fr;
    transition: 500ms ease-in-out;
  }
  #ml-o {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .menu-option-text {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
  .menu-option-text h3 {
    font-size: 18px;
    color: white;
    margin-left: 5px;
  }
  .menu-option-text i {
    font-size: 16px;
    transition: 200ms ease-in-out;
  }

  /* .menu-option-text i:hover {
    color: #34495e;
    transform: rotate(180deg);
  } */
  .menu-option-text h3:hover {
    color: goldenrod;
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.25;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes rotate-disappear {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-180deg);
  }
}

@keyframes rotate-disappear2 {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  50% {
    opacity: 0.5;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
