.menu {
  border: 3px crimson;
}
.menu-container {
  border: 4px solid steelblue;
}
.menu-options {
  display: grid;
  grid-template-columns: 1fr;
}
.menu-option {
  border: 2px solid yellow;
}

.menu-button {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
